<h1><%= @user.name %></h1>
<h2>Appointments</h2>
<p>Click the link to select a doctor for your next visit! 
<br /> <%= link_to 'Create Appointment', doctors_path%></p>
<hr />
<ul>
<%@user.appointments.each do |user| %>
<li>
  Date: <%= user.appointment_date.strftime("%B %d, %Y")%>
  <br />
  Time: <%= user.appointment_date.strftime("%l:%M %p")%>
  <br />
  Doctor:<%= Doctor.find(user.doctor_id).name%>
  <br />
  Reason for Visit: <%=user.condition%>
  <br />
  
</li>
<br />
<br />
<% end %>
</ul>
<br />
<br />
<br />
<%= link_to 'Delete Patient', @user, method: :delete, class: 'ui red button inverted' %>
